/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
 .navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 500px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-caption h1 {
  font-size: 50px;
  font-family: Sitka Heading;
  color: #e6ffe6;
}

.carousel-caption p {
  font-family: Palatino Linotype;
  margin-left: -65px;
  margin-right: -65px;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -50px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  font-family: -webkit-pictograph;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Constantia;
  font-size: 17px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.col-md-7{
  margin-top: -100px;
}

.col-md-7 h2{
  font-size: 35px;
}

.col-md-7 p{
  font-size: 20px;
  font-family: Constantia;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.btn{
  font-size: 18px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
}

footer{
  margin-top: -50px;
}

footer p{
  margin-bottom: -100px;
}

@media (max-width:991px ) {

  .center-block {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 29px;
  }
  .col-md-7 h2 {
    font-size: 35px;
    margin-top: 51px;
  }

}